.select {
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 7px;
    background: #dfe6e8!important;
    outline: none;
    height: 30px;
    width: 60px;
    font-size: 16px;
    font-weight: bolder;
}
